{% load static %}

<link rel="stylesheet" type="text/css"
    href="{% static 'bootstrap.min.css' %}">

<div class="container my-5">
    <div class="container-title">
        <h5 class="text-center">📌자유게시판</h5>
        <a href="{% url 'freeboard:write' %}" class="btn btn-secondary" style="float: right; margin-bottom: 10px">
            🖋 글쓰기
        </a>
    </div>
    
    <table class="table table-hover">
        <thead>
            <tr class="table-light">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일시</th>
                <th>댓글 수</th>
            </tr>
        </thead>
        <tbody>
            {% if post_list %}
            {% for post in post_list %}
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    <a href="{% url 'freeboard:post_detail' post.id %}">
                        {{ post.subject }}
                    </a>
                </td>
                <td>{{ post.user.name }}</td>
                <td>{{ post.write_date }}</td>
                <td></td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">게시글이 없습니다.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

    <hr>
    <div class="pagination">
        {% if boards.has_previous%}
        <li class="page-item">
            <a class="page-link" href="?page={{ boards.previous_page_number}}">◁</a>
        </li>
        {% else %}
        {% comment %} <li class="page-item disable">
            <a class="page-link" href="">◁</a>
        </li> {% endcomment %}
        {% endif %}

        <li class="page-item">
            <a class="page-link" href="">{{boards.number}} / {{boards.paginator.num_pages}}</a>
        </li>
        
        {% if boards.has_next%}
        <li class="page-item">
            <a class="page-link" href="?page={{ boards.next_page_number}}">▷</a>
        </li>
        {% else %}
        {% comment %} <li class="page-item disable">
            <a class="page-link" href="">▷</a>
        </li>    {% endcomment %}
        {% endif %}

    </div>

           
</div>